@charset "UTF-8";

body{
  background-color: #b0c4de;
  background-image: url(../img/beach.jpg);
  background-repeat: no-repeat;
}

h2 span{
  font-weight: bold;
  border:#191970 1px dotted;
  border-left:#191970 5px solid;
  margin-bottom: 0;
  margin-right:100px;
  padding: 5px 50px;
}

#position{
  font-size: 1.5em;
  text-align:center;
  font-style: italic;
}

.test{
  font-size:15px;
  text-decoration:underline;
}

.test:first-letter{
  font-size:23px;
}
